@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/ttlakes-regular-webfont.woff2") format('woff2'),
    url("../fonts/ttlakes-regular-webfont.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/ttlakes-medium-webfont.woff2") format('woff2'),
    url("../fonts/ttlakes-medium-webfont.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/ttlakes-bold-webfont.woff2") format('woff2'),
    url("../fonts/ttlakes-bold-webfont.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}