.footer {
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
    padding: 16px;

    @media (min-width: 768px) {
        padding: 32px;
    }

    &__info {
        font-size: 14px;
        color: $text;
        display: grid;

        @media (max-width: 767.98px) {
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        }

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            align-items: start;
        }
    }

    &__text {
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: $text;
    }

    &__text2 {
        text-align: end;

        @media (max-width: 767.98px) {
            text-align: center;
        }
    }
}