html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 1120px;

    @media (min-width: 1366px) {
        max-width: 1440px;
}
}

.main-container {
    position: relative;
    @media (min-width: 1366px) {
        display: grid;
        grid-template-columns: 320px 1fr;
    }
}

.container {
    max-width: 1120px;
    margin: 0 auto;

    &--hidden {
        display: none;
    }
}


.main {
    background-color: #F8F8F8;
    overflow: hidden;
}

.info {
    padding-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 1120px) {
        padding-top: 42px;
        margin-bottom: 8px;
    }

    &__title {
        display: flex;
    }

    &__page-title {
        position: relative;
        color: $text-2;
        margin: 0;
        padding-left: 16px;
        white-space: nowrap;
        align-self: center;

        @media (min-width: 768px) {
            padding-left: 24px;
        }

        @media (min-width: 1120px) {
            padding-left: 34px;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -4px;
            width: 4px;
            height: 40px;
            background-image: url("../img/highlight.svg");
        }
    }

    &__buttons {
        display: none;
        column-gap: 32px;
        padding-right: 32px;

        @media (min-width: 1366px) {
            display: flex;
        }
    }

    &__button {
        background-color: transparent;
        border: 0;
        padding: 0;
        height: 40px;
        font-family: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.7s;

        &:hover {
            opacity: 0.5;
            transform: scale(1.2);
        }
    }


    &__image--repair::after {
        content: "";
        margin-left: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    
        background: url("../img/repair.svg") no-repeat center $button;

    }

    &__image--checkstatus::after {
        content: "";
        margin-left: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: url("../img/check.svg") no-repeat center $button;

    }
}

.menu {
    display: flex;

    &__list {
        list-style-type: none;
        display: flex;
        overflow: auto;
        padding-left: 16px;
        margin: 0;

        @media (min-width: 768px) {
            padding-left: 24px;
        }

        @media (min-width: 1120px) {
            flex-wrap: wrap;
            padding-left: 34px;
        }
    }

    &__link {
        display: inline-block;
        white-space: nowrap;
        color: $text; 
        text-decoration: none;
        font-size: 16px;
        padding-left: 16px;
        font-weight: 500;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border: 2px solid transparent;
        border-radius: 5px;

        &:hover {
            border-color: #D9FFF5;
        }
    }

    &--blur::after {
        content: "";
        position: absolute;
        height: 40px;
        width: 30px;
        right: 0;
        background: linear-gradient(to right, transparent, #F8F8F8);
        margin-left: auto;
    }
}

@media (min-width: 1120px) {
    .menu--blur::after {
        display: none;
    }
}

.about {
    padding-top: 10px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        column-gap: 48px;
        padding-top: 32px;
    }

    @media (min-width: 1120px) {
        padding-top: 7px;
    }

    &__content {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 16px;

        @media (min-width: 768px) {
            flex-basis: 50%;
            margin-bottom: 0;
            padding-left: 24px;
            padding-right: 0;
        }

        @media (min-width: 1120px) {
            padding-left: 34px;
        }
    }

    &__logo {
        @media (min-width: 768px) {
            flex-basis: 50%;
            padding-right: 25px;
        }
    }

    &__photo {
        @media (min-width: 768px) {
            border-radius: 10px;
        }
    }

    &__text--hidden-on-phone {
        display: none;
    }

    &__text--hidden-on-desktop {
        display: none;
    }

    &__button {
        display: flex;
        background-color: transparent;
        border: 0;
        padding: 0;
        font-family: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:before {
            content: "";
            width: 24px;
            height: 24px;
            background-image: url("../img/expand.svg");
        }

        &--hide::before {
            content: "";
            transform: rotate(180deg);
        }
    }

    &__photo {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .about__text--hidden-on-phone {
        display: block;
    }

    .about__text--hidden-on-pad {
        display: none;
    }
}


@media (min-width: 1120px) {
    .about__text--hidden-on-pad {
        display: inline;
    }
}

.about__text--hidden-on-desktop--visible {
    display: block;
}

.about__text--hidden-on-phone--visible {
    display: block;
}

.about__text--hidden-on-pad--visible {
    display: inline;
}

.swiper {
    @media (min-width: 768px) {
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .swiper--blur::after {
        display: none;
    }
}

.blur-screen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-color-1;
    opacity: 96%;
    z-index: 10;

    &--active {
        display: block;
    }
}