@media (max-width: 767.98px) {

    @import '../../node_modules/swiper/swiper.scss';
    @import '../../node_modules/swiper/modules/pagination.scss';

    .section__swiper {
        position: relative;
        padding-top: 16px;
    }

    .swiper {
        max-width: 240px;
        overflow: visible;
        margin: 0;
        margin-left: 16px;
        position: static;
    }

    .swiper--blur::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
        background: linear-gradient(to right, transparent, #F8F8F8);
        z-index: 10;
    }


    .swiper-wrapper {
        display: flex;
    }

    .swiper-pagination {
        display: block;
    }

    .swiper-horizontal > .brands__pagination {
        top: 105px;
    }

    .swiper-horizontal > .devices__pagination {
        top: 210px;
    }

    .swiper-horizontal > .prices__pagination {
        top: 230px;
    }

    .swiper-pagination-bullet {
        background-color: #B5B6BC;
        width: 12px;
        height: 12px;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 6px;
    }

    .swiper.swiper--wide {
            max-width: 260px !important;
    }
}