.side-menu-bar {
    display: none;
    font-weight: 500;
    font-size: 16px;
    width: 320px;
    height: 100%;
    background-color: $background-color-1;
    box-shadow: 
        -2px 0 4px 0 $shadow,
        16px 0 52px 0 $shadow-2;

    @media (max-width: 767.98px) {
        width: 100%;
        box-shadow: none;
    }

    @media (min-width: 1366px) {
        display: block;
        box-shadow: none;
        border-left: 2px solid #F8F8F8;
    }
    

    &--active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }

}

.top {
    margin-bottom: 40px;
    display: flex;
    height: 88px;
    justify-content: space-between;
    padding: 0 24px;

    &__part-1,
    &__part-2 {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }
}


.top__button.button--close {
    
    @media (min-width: 1366px) {
        display: none;
    }
}

.side-menu {
    margin-bottom: 268px;

    @media (max-width: 767.98px) {
        margin-bottom: 32px;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin-bottom: 28px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $text-2;
        position: relative;
        padding-left: 24px;
        line-height: 32px;

        &:hover {
            color: $text;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 4px;
            height: 32px;
            background-image: url("../img/highlightshort.svg");
            opacity: 0;
        }

        &--selected {
            color: $text;
        
            &:before {
            opacity: 1;
            }
        }
    }
}

.bottom {
    margin-left: 24px;

    &__buttons {
        margin-bottom: 16px;
        display: flex;
    }

    &__button {
        display: block;
        margin-right: 16px;
    }

    &__contacts {
        margin-bottom: 40px;

        @media (max-width: 767.98px) {
            margin-bottom: 8px;
        }
    }

    &__mail {
        display: block;
        width: 110px;
        margin-bottom: 12px;
        color: $text-2;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }

    &__phone-number {
        display: block;
        width: 205px;
        color: $text-2;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
    }

    &__languages {
        padding-bottom: 32px;
        display: flex;
    }

    &__language {
        color: $text-2;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        margin-right: 7px;
    }
 


    &__input {
        appearance: none;
        position: absolute;
    }
}

.bottom__button.button {
    display: block;
}

.bottom__input:checked + .bottom__language{
    color: $text;
}

.bottom__phone-number:hover,
.bottom__mail:hover,
.bottom__language:hover {
    color: $text;
}

